<div class="add-container">
    <span class="add-name-header">
      <img src="../../../images/food.svg" alt="activities">
      <h3 class="fnt-black">Food Log</h3>
    </span>
    <hr/>

    <!-- Add a meal (chosen foods) section -->
    <div id="chosen-foods" ng-show="foodComp.chosenFoods.length > 0 || foodComp.mealList.foods.length > 0">
        <h4 class="fnt-black" id="create-new-meal-header">
            <i class="fa fa-th-list" aria-hidden="true"></i>
            Create a New Meal
        </h4>

            <!-- Saved foods -->
            <div id="saved-foods">
                <div ng-repeat="food in foodComp.mealList.foods track by $index" class="chosen-food-header" id="saved-food-{{$index}}">
                    <span class="saved-food-item">
                        <button class="nav-button" ng-click="foodComp.removeChosenFood($index)">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <h6 class="chosen-food-item-name"><strong>{{food.name}}</strong></h6>
                    </span>
                    <p><strong>kCals:</strong> {{food.kcals}}</p>
                </div>
            </div>

            <!-- Set quantity for chosen food -->
            <div class="chosen-food-item" ng-repeat="chosenFood in foodComp.chosenFoods" id="currentChosenFood">
                <span class="chosen-food-header">
                    <h4 class="fnt-black chosen-food-item-name">{{chosenFood.name}}</h4>
                    <button class="nav-button" ng-click="foodComp.remove(event); foodComp.soloFoodSearch = true;">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </span>
                <label>Choose quantity:</label>
                <form ng-submit="foodComp.findFoods()" class="food-measure" ng-repeat="measure in foodComp.chosenFoodMeasures track by $index">
                    <label>{{measure.qty}} {{measure.label}}</label>
                    <hr/>
                        <div class="adjust-measure">
                            <span class="measure-qty">
                                <label class="servings"></label>
                                <input type="text" class="food-measure-input" ng-model="foodComp.measureQtys[$index]">
                            </span>
                            <label><strong>kCals:</strong> {{foodComp.measureQtys[$index] * measure.value}}</label>
                            <button class="button button-green" ng-click="foodComp.addFood(event); foodComp.soloFoodSearch = true; foodComp.hideSaveMeal = true" id="{{foodComp.measureQtys[$index] * measure.value}}">
                                <span class="measure-add-text">ADD</span>
                                <span class="measure-add-icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </button>
                        </div>
                </form>
            </div>

        <button class="button button-green" id="save-meal-button" ng-if="foodComp.hideSaveMeal" ng-click="foodComp.saveFood()">SAVE MEAL</button>

    </div>

    <!-- Search for foods -->
    <form ng-submit="foodComp.findFoods()" id="food-search-form" ng-if="foodComp.soloFoodSearch">
        <label>Add a food:</label>
        <input type="text" id="food-search" placeholder="Search foods" ng-model="foodComp.searchTerm" ng-keydown="foodComp.delayBeforeSearch()">
    </form>
    <p ng-show="foodComp.searchResults === null && foodComp.searchTerm !== '' ">No results found for "{{foodComp.searchTerm}}"</p>

    <!-- Search results -->
    <ul id="food-results" ng-show="foodComp.searchResults.length > 0">
        <li ng-repeat="result in foodComp.searchResults" ng-click="foodComp.chooseFood(event); foodComp.soloFoodSearch = false; foodComp.hideSaveMeal = false" id={{result.ndbno}}>
            {{result.name}}
            <hr/>
        </li>
    </ul>

    <!-- Meal log list -->
    <div id="foods-log">
        <div ng-repeat="food in foodComp.foodList track by $index">
            <div class="saved-item-name">
              <span>
                <p class="chosen-food-item-name"><span class="fnt-black">{{food.name}}</span> <br>
                {{food.kcals}} kCals</p>
              </span>
              <button ng-click="foodComp.deleteFood($index)" class="button nav-button"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <hr/>
            </div>
        </div>
    </div>

</div>
