<div id="add-log-items">
    <div class="add-container">
        <h3>Foods</h3>
        <hr/>

        <!-- Add a meal (chosen foods) section -->
        <div id="chosen-foods" ng-show="foodComp.chosenFoods.length > 0 || foodComp.mealList.foods.length > 0">
            <h4>Add meal:</h4>

                <!-- Saved foods -->
                <div id="saved-foods">
                    <div ng-repeat="food in foodComp.mealList.foods track by $index" class="chosen-food-header" id="savedFood">
                        <span class="saved-food-item">
                            <button ng-click="foodComp.removeChosenFood()">X</button>
                            <h6 class="chosen-food-item-name"><strong>{{food.name}}</strong></h6>
                        </span>
                        <p><strong>kCals:</strong> {{food.kcals}}</p>
                    </div>
                </div>

                <!-- Set quantity for chosen food -->
                <div class="chosen-food-item" ng-repeat="chosenFood in foodComp.chosenFoods" id="currentChosenFood">
                    <span class="chosen-food-header">
                        <h5 class="chosen-food-item-name"><strong>{{chosenFood.name}}</strong></h5>
                        <button ng-click="foodComp.remove(event)">X</button>
                    </span>
                    <p>Choose quantity:</p>
                    <form ng-submit="foodComp.findFoods()" class="food-measure" ng-repeat="measure in foodComp.chosenFoodMeasures">
                        <label>{{measure.qty}} {{measure.label}}</label>
                        <hr/>
                            <div class="adjust-measure">
                                <span class="measure-qty">
                                    <p><strong>Serving:</strong></p>
                                    <input type="text" class="food-measure-input" ng-model="foodComp.measureQty">
                                </span>
                                <p><strong>kCals:</strong> {{foodComp.measureQty * measure.value}}</p>
                                <button ng-click="foodComp.addFood(event)" id="{{foodComp.measureQty * measure.value}}">ADD</button>
                            </div>
                    </form>
                </div>

            <button ng-click="foodComp.saveFood()">SAVE MEAL</button>
        </div>

        <!-- Search for foods -->
        <form ng-submit="foodComp.findFoods()" id="food-search-form">
            <input type="text" id="food-search" placeholder="Search foods" ng-model="foodComp.searchTerm" ng-keydown="foodComp.delayBeforeSearch()">
        </form>
        <p ng-show="foodComp.searchResults === null && foodComp.searchTerm !== '' ">No results found for "{{foodComp.searchTerm}}"</p>

        <!-- Search results -->
        <ul id="food-results" ng-show="foodComp.searchResults.length > 0">
            <li ng-repeat="result in foodComp.searchResults" ng-click="foodComp.chooseFood(event)" id={{result.ndbno}}>
                {{result.name}}
                <hr/>
            </li>
        </ul>

        <!-- Meal log list -->
        <div id="foods-log">
            <div ng-repeat="food in foodComp.foodList">
                <!-- <h6><strong>{{log.date}}</strong></h6> -->
                <p class="chosen-food-item-name">{{food.name}}</p>
                <p><strong>kCals:</strong> {{food.kcals}}</p>
                <hr/>
                <!-- <div ng-repeat="food in log.foods track by $index" class="chosen-food-header"> -->
                </div>
            </div>
        </div>

    </div>
</div>
