<div class="add-container right">
  <span class="add-name-header">
    <img src="../../../images/dumbbell.svg" alt="activities">
    <h3 class="fnt-black">Activities</h3>
  </span>
  <hr/>

  <div id="all-activities-buttons">
    <button ng-click="activityComp.findActivities(); activityComp.allActivitiesClicked = true" type="submit" name="activity-button" class="button button-green" id="all-activities-btn">
      List All Activities
    </button>
    <span><button class="button button-gray" ng-show="activityComp.allActivitiesClicked === true" ng-click="activityComp.allActivitiesClicked = false">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button></span>
  </div>

  <ul id="all-activities" ng-if="activityComp.allActivitiesClicked">
    <li ng-repeat="Activity in activityComp.allActivities" ng-click="activityComp.clickSearch(event); activityComp.allActivitiesClicked = false">
      {{Activity.name}}
      <hr/>
    </li>
  </ul>
  <form ng-submit="activityComp.searchActivities()" id="activity-search-form">
    <input type="text" id="activity-search" placeholder="Search activities" ng-model="activityComp.activitySearchTerm" ng-keydown="activityComp.delayBeforeSearch()">
  </form>

  <div ng-repeat="Activity in activityComp.activitySearchResults track by $index" class="can-add-activity" ng-show="activityComp.activitySearchResults.length > 0 ">
      <p><strong>{{Activity.name}}</strong></p>
      <span>Calories / Hour: <span><strong>{{Activity.calFactor}}</strong></span>
      <a class="btn-floating btn-small waves-effect waves-light blue" ng-click="activityTimeInput = true; activityAddButton = false" type="sumbit"><i class="material-icons">add</i></a>
      <input type="integer" ng-model="activityComp.activityduration" ng-show="activityTimeInput" style="width: 60px;"><span ng-show="activityTimeInput">(Minutes)</span>
      <button ng-click="activityComp.addActivity($index); activityTimeInput = false" ng-if="activityAddButton = true" ng-show="activityTimeInput" type="submit" name="addActivity">Add</button>
  </div>

  <!-- Activity log list -->
  <div id="activities-log">
      <div ng-repeat="activity in activityComp.activityList track by $index">
          <!-- <h6><strong>{{log.date}}</strong></h6> -->
          <p class="chosen-food-item-name">{{activity.name}}</p>
          <p><strong>kCals:</strong> {{activity.caloriesBurned}}</p>
          <span><a ng-click="activityComp.deleteActivity($index)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a></span>
          <hr/>
          <!-- <div ng-repeat="food in log.foods track by $index" class="chosen-food-header"> -->
          </div>
      </div>

</div>
