/*** GLOBAL STYLES ***/

@font-face {
    font-family: SFSportsNight ;
    src: url("../fonts/SFSportsNight.ttf");
}

body {
	font-family: 'Lato', sans-serif;
	color: #384047;
	height: 100vh;
	background-color: #EDEFF0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	line-height: 1;
	letter-spacing: -.01em;
}

h2 {
	font-size: 32px;
	font-family: 'Roboto Slab', serif;
}

h3 {
	font-size: 26px;
	font-weight: 300;
	line-height: 1.3;
	font-family: 'Roboto Slab', serif;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
}

p {
	font-size: 17px;
	font-weight: 300;
}

a {
	cursor: pointer;
}

button {
	border: none;
}

.txt-gray {
	color: #475151 !important;
}

.txt-green {
	color: #00ca6a;
}

.fnt-black {
	font-weight: 700;
}

.bkg-white {
	background-color: white;
}

button.wide-button {
	width: 100%;
	text-align: center;
}

.button {
	border-radius: 3em;
	padding: 7px 25px 9px 25px;
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: none;
	transition-property: filter;
	transition-duration: 300ms;
}

.button:hover {
	filter: brightness(110%);
}

.button-primary {
	background-color: #7346f3;
	color: white;
}

.button-green {
	background-color: #00ca6a;
	color: white;
}

.bkg-light-gray {
	background-color: #EDEFF0;
}

.bkg-yellow {
	background-color: #ffcc51;
}

.home-flex-container {
  display: flex;
  flex-direction: row;
	justify-content: space-around;
}

.vertical-center {
	display: flex;
	align-items: center;
}

/*Overrides*/

input:focus {
	border: none;
	box-shadow: none;
}

input[type=text]:focus {
	border: none;
	box-shadow: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #E8EBED inset !important;
}


/*** NAV STYLES ***/

#nav {
	box-shadow: none;
	color: white;
	background-color: #3E474F;
	padding: 15px 0 10px 0;
}

#nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#brand-logo-nav {
	width: 140px;
}

#nav-links a {
	margin-bottom: 10px;
	margin-left: 32px;
	font-weight: 600;
	letter-spacing: .03em;
	color: #B2BBBD;
	transition-property: color;
	transition-duration: 400ms;
}

#nav-links a:hover {
	color: white;
	cursor: pointer;
}

.nav-button {
	padding: 2px 16px 5px 16px;
	border-radius: 3em;
	background-color: #B2BBBD;
	color: #3E474F !important;
	margin-top: 3px;
	transition-property: background-color;
	transition-duration: 400ms;
}

.nav-button:hover {
	background-color: white;
}


/*** LOGIN & SIGNUP STYLES ***/

.user-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

#signup-container {
	background: url(../images/signup-bkg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 91vh;
	padding-bottom: 3%
}

.user-form {
	padding: 15px 30px 30px 30px;
	padding-right: 46px;
	border-radius: 6px;
	background-color: white;
	width: 33%;
	min-width: 320px;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.user-form form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	width: 100%;
}

.form-group label {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}


.user-form input {
	border-radius: 6px;
	background-color: #E8EBED;
	padding-left: 16px;
	width: 100%;
	border: none;
}

.user-form input:focus {
	box-shadow: inset 0 0 10px #d4d9dd;
}

.user-form input[type=text] {
	color: red !important;
}


/*** HOME PAGE STYLES ***/

.hero-card {
	width: 100%;
	margin: 0 auto;
	color: white;
}

#hero-container {
	height: 70vh;
	display: flex;
	align-items: center;
}

#hero-text-container {
	width: 53%;
	margin-bottom: 3%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#hero-text-container h1 {
	color: white;
	font-weight: 300;
	margin-bottom: 0;
	padding-bottom: 0;
}

#hero-text-container .card-content {
	margin-bottom: 30px;
}

.hero-image {
	background-image: url("../images/phone-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.divider {
	height: 50px;
}

#benefits {
	background: url("../images/yellow-tile.jpg");
	background-repeat: repeat;
}

#benefits-container {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.card {
	width: 31%;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 0 40px #efb625;
}

.card-title {
	font-family: 'Roboto Slab', serif;
	color: #01CA6A;
}

.card-image {
	height: 75px;
	width:75px;
	display: block;
	margin: auto;
}

.bottom-card {
	width: 80%;
	margin: 0 auto;
}

#features-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 60px 0;
}

#features-phone {
	width: 45%;
}

#features-copy {
	margin: 5% 5% 8% 5%;
}

footer {
	background-color: #2ecc71;
	padding: 50px 0;
}



/*** PROFILE PAGE STYLES ***/

#profile-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EDEFF0;
}

#current-cals {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 20px;
	background-color: rgba(46,203,114,.25);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	border: 8px solid white;
	box-shadow: inset 0 0 10px rgba(0,0,0,.1), 0 0 30px rgba(0,0,0,.1);
}

#current-cals-value {
	display: flex;
	flex-direction: column;
	z-index: 3;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

#current-cals-num {
	color: #2ecc71;
}

#current-cals-value h3 {
	color: #384047;
	padding: 10px;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .04em;
}

#cal-ring-inside {
	width: 90%;
	height: 90%;
	z-index: 2;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	bottom: 5%;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#cal-fill {
	background-color: rgba(46,203,114,1);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	z-index: 1;
}

#current-cals h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 100px;
	padding: 0;
	margin: 10% 0 0 0;
	line-height: 90px;
}

#current-cals h3 {
	margin: 0 0 25px 0;
}

#add-log-items {
	display: flex;
	justify-content: space-between;
}

.add-container {
	background-color: #eee;
	width: 49%;
	padding: 10px 30px 35px 30px;
	margin-bottom: 60px;
}

.add-container h1 {
	margin-bottom: 0;
}

#chosen-foods {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
}

.chosen-food-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.saved-food-item {
	display: flex;
	align-items: center;
	width: 70%;
}

.saved-food-item h6 {
	margin-left: 10px;
}

.chosen-food-item {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: #ddd;
	padding: 20px;
}

.chosen-food-item-name {
	max-width: 70%;
}

.search-submit-btn {
	width: 400px;
}

#food-search-form {
	margin-bottom: 0px;
}

#food-search-form input, #activity-search-form input {
	background: url(../../../images/search.svg) no-repeat scroll 7px 7px;
	padding-left: 40px;
	background-color: white;
	margin-top: 10px;
	width: calc(100% - 40px);
	font-weight: 500;
}

#food-results {
	margin-top: -20px;
	background-color: white;
	padding: 15px;
	box-shadow: 0px 2px 7px rgba(0,0,0,.2);
}

#all-activities {
	margin-top: 0px;
	background-color: white;
	padding: 15px;
	box-shadow: 0px 2px 7px rgba(0,0,0,.2);
}

#food-results li, #all-activities li {
	margin: 10px 0;
	cursor: pointer;
}

#food-results li:hover, #all-activities li:hover {
	color: #aaa;
}

.food-measure {
	width: 100%;
	background-color: #e9e9e9;
	padding: 16px 16px 5px 16px;
	margin-bottom: 8px;
}

.food-measure label {
	text-transform: capitalize;
	color: black;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 0;
}

.adjust-measure {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.measure-qty {
	display: flex;
	justify-content: flex-start;
	width: 30%;
	padding: 0;
	margin-top: 19px;
}

.measure-qty input {
	background-color: white;
	border: 1px solid #ccc;
	padding: 7px 9px;
	margin-left: 5px;
}

.adjust-measure p {
	width: 40%;
	margin-left: 0;
}

.adjust-measure button {
	padding: 7px 9px;
}

#all-activities-btn {
	margin-top: 10px;
	padding: 9px;
}