/*** GLOBAL STYLES ***/

body {
	font-family: 'Lato', sans-serif;
	color: #384047;
	height: 100vh;
	background: url(../images/tiny_grid.png);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
	line-height: 1;
	letter-spacing: -.01em;
}

h2 {
	font-size: 32px;
	font-family: 'Roboto Slab', serif;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	line-height: 1;
	font-family: 'Roboto Slab', serif;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
	font-family: 'Roboto Slab', serif;
}

h5 {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.3;
	font-family: 'Roboto Slab', serif;
}

p {
	font-size: 17px;
	font-weight: 300;
	line-height: 1.3;
}

label {
	font-size: 14px;
}

a:hover, button:hover {
	cursor: pointer;
}

button {
	border: none;
}

button.wide-button {
	width: 100%;
	text-align: center;
}

.button {
	border-radius: 6px;
	padding: 7px 15px 9px 15px;
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: none;
	transition-property: filter;
	transition-duration: 300ms;
}

.button:hover {
	filter: brightness(110%);
}

.button:active {
	background-color: rgba(62,71,79,1);
}

.button-primary {
	background-color: #7346f3;
	color: white;
}

.button-green {
	background-color: #00ca6a;
	color: white;
}

.button-green:focus {
	background-color: #00ca6a;
}

.button-red {
	background-color: #FD0332;
	color: white;
}

.button-gray {
	background-color: #5A6168;
	color: white;
}

.nav-button {
	padding: 2px 10px 5px 10px;
	border-radius: 6px;
	background-color: #B2BBBD;
	color: #45484d !important;
	margin-top: 3px;
	transition-property: background-color, filter;
	transition-duration: 400ms;
}

.nav-button-red {
	padding: 2px 10px 5px 10px;
	border-radius: 6px;
	background-color: #FD0332;
	color: white !important;
	margin-top: 3px;
	transition-property: background-color;
	transition-duration: 400ms;
}

.nav-button:hover {
	background-color: #E8EBED;
	filter: brightness(100%);
}

.nav-button:focus {
	background-color: #B2BBBD;
}

.nav-button-red:hover, .nav-button-red:focus {
	background-color: #d40129;
}


hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;               
  background-color: #E8EBED;
  height: 2px;
  margin: .5em 0 1.5em 0;
}

.txt-gray {
	color: #475151 !important;
}

.txt-red {
	color: #F43B37 !important;
}

.txt-green {
	color: #00ca6a;
}

.fnt-black {
	font-weight: 700;
}

.bkg-white {
	background-color: white;
}

.bkg-light-gray {
	background-color: #EDEFF0;
}

.bkg-yellow {
	background-color: #ffcc51;
}

.home-flex-container {
  display: flex;
  flex-direction: row;
	justify-content: space-around;
}

.vertical-center {
	display: flex;
	align-items: center;
}

/*Overrides*/

input:focus {
	border: none !important;
	box-shadow: inset 0 0 0 2px #B2BBBD !important;
}

input[type="text"], input[type="integer"] {
	border: none !important;
	background-color: #E8EBED !important;
	outline: none !important;
}

input[type=text]:focus, input[type="integer"]:focus {
	border: none !important;
	box-shadow: inset 0 0 0 2px #B2BBBD !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #E8EBED inset !important;
}

input[type="radio"].with-gap:checked + label:before {
	border-radius: 50%;
	border: 2px solid #00CA6A; 
}

input[type="radio"].with-gap:checked + label:after {
	border-radius: 50%;
	border: 2px solid #00CA6A;
	background-color: #00CA6A;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5); 
}


/*** NAV STYLES ***/

#nav {
	box-shadow: none;
	color: white;
	background-color: #3E474F;
	padding: 15px 0 10px 0;
}

#nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 5px
}

#brand-logo-nav-desktop {
	height: 35px;
	display: block;
	transition-property: filter;
	transition-duration: 400ms;
}

#brand-logo-nav-desktop:hover {
	filter: brightness(120%);
	cursor: pointer;
}

#brand-logo-nav-mobile {
	height: 35px;
	display: none;
}

#brand-logo-nav-mobile:active {
	filter: brightness(115%);
}

#nav-links a {
	margin-bottom: 3px;
	margin-left: 32px;
	font-weight: 600;
	letter-spacing: .03em;
	color: #B2BBBD;
	transition-property: color;
	transition-duration: 400ms;
}

#nav-links a:hover {
	color: white;
	cursor: pointer;
}

#nav-links button {
	margin: 0 0 2px 32px;
}


/*** LOGIN & SIGNUP STYLES ***/

.user-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

#signup-container {
	background: url(../images/signup-bkg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 91vh;
	padding-bottom: 3%
}

.user-form {
	padding: 15px 30px 30px 30px;
	padding-right: 46px;
	border-radius: 6px;
	background-color: white;
	width: 33%;
	min-width: 320px;
	box-shadow: 0 4px 40px rgba(0,0,0,.12);
}

.user-form button {
	margin-top: 8px;
}

.user-form form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	width: 100%;
}

.form-group label {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}


.user-form input {
	border-radius: 6px;
	background-color: #E8EBED;
	padding-left: 16px;
	width: 100%;
	border: none;
}

.user-form input:focus {
	box-shadow: inset 0 0 10px #d4d9dd;
}


/*** HOME PAGE STYLES ***/

.hero-card {
	width: 100%;
	margin: 0 auto;
	color: white;
}

#hero-container {
	height: 65vh;
	display: flex;
	align-items: center;
}

#hero-container div.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#hero-text-container {
	width: 58%;
	margin-bottom: 3%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#hero-text-container h1 {
	color: white;
	font-weight: 300;
	margin-bottom: 0;
	padding-bottom: 0;
}

#hero-text-container .card-content {
	margin-bottom: 30px;
}

#hero-text-container a {
	margin-top: 7px;
}


#hero-phone {
	z-index: 6;
	height: 68vh;
	margin-top: 5%;
}

.hero-bkg {
	background-image: url("../images/hero_bkg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
}

.divider {
	height: 50px;
}

#benefits {
	background: url("../images/yellow-tile.jpg");
	background-repeat: repeat;
	padding-top: 10px;
}

#benefits-container {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.card {
	width: 31%;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 0 40px #e6a809;
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card h3 {
	text-align: center;
	margin: 10px 0;
}

.card-title {
	font-family: 'Roboto Slab', serif;
}

.card-image {
	height: 75px;
	width: 75px;
	margin: 2px 0 12px 0;
}

.bottom-card {
	width: 80%;
	margin: 0 auto;
}

#features-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 60px 0;
}

#features-phone {
	width: 45%;
	display: inline-block;
}

#features-phone-horiz {
	width: 420px;
	max-width: 100%;
	display: none;
}

#features-copy {
	margin: 5% 5% 8% 5%;
}

#cta-container {
	background: url(../images/signup-bkg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0 100px 0;
	color: white;
}

#cta-container .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#cta-container .container h2 {
	text-align: center;
	margin-bottom: 0;
}

#cta-container .container p {
	text-align: center;
	width: 600px;
	max-width: 100%;
	margin: 16px 0 32px 0;
}

footer {
	background-color: #3E474F;
	color: white;
	margin: 0;
	padding: 30px 0 35px 0;
}

footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	font-size: 15px;
	padding-top: 1px;
}

footer a {
	font-weight: 600;
	letter-spacing: .03em;
	color: #B2BBBD;
	transition-property: filter;
	transition-duration: 400ms;
}

footer a:hover {
	filter: brightness(125%);
}

footer i {
	margin-right: 7px;
	transform: scale(1.5);
	color: #01CA6A;
}

footer hr {
	background-color: #31383e;
	display: none;
}



/*** PROFILE PAGE STYLES ***/

.daily-log-header {
	width: 100%;
	background-color: #4d575f;
	margin: 0;
	padding: 1px 0 5px 0;
	color: white;
}

.daily-log-header .container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.daily-log-header .container i {
	margin-left: 7px;
	color: #00db74;
}

#log-calendar {
	background: none !important;
	border: none;
	margin-bottom: 3px;
	width: 100px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 1px;
	color: #00db74;
	text-decoration: underline;
}

#log-calendar:hover {
	color: #01fc86;
	cursor: pointer;
}

#profile-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#current-cals {
	width: 300px;
	height: 300px;
	max-width: 100%;
	border-radius: 50%;
	margin: 50px 0;
	background: -moz-linear-gradient(#00CA6A 0%, #FCC208 75%, #FD0332 100%);
	background: -webkit-linear-gradient(#00CA6A 0%, #FCC208 75%, #FD0332 100%); 
	background: linear-gradient(to top, #00CA6A 0%, #FCC208 75%, #FD0332 100%); 
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	border: 13px solid white;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.15), 0 0 40px rgba(0,0,0,.15);
}

#current-cals-value {
	display: flex;
	flex-direction: column;
	z-index: 3;
	align-items: center;
	justify-content: center;
	margin-top: 8.5%;
}

#current-cals-num {
	color: #3E474F;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 100px;
	padding: 0;
	margin: -29px 0 0 0;
	line-height: 90px;
}

#current-cals-value p {
	padding: 10px;
	margin: 0;
	margin-bottom: 24px;
}

#cal-ring-inside {
	width: 89%;
	height: 89%;
	z-index: 2;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	bottom: 5.5%;
	box-shadow: 0 1px 4px rgba(0,0,0,.15);
}

#cal-fill {
	background-color: rgba(232,235,237,.85);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#current-cals h3 {
	margin: 0 0 25px 0;
}

/* Add Food & Activity Container Styles */

#profile-container {
	display: flex;
	flex-direction: column;
}

#add-containers {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 120px;
}

.add-container {
	width: 470px;
	flex-direction: column;
	padding: 15px 30px 12px 30px;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 4px 40px rgba(0,0,0,.12);
}

.add-container input {
	border-radius: 6px;
	background-color: #E8EBED !important;
	padding-left: 16px;
	width: 100%;
	border: none;
}

.add-container input:focus {
	box-shadow: inset 0 0 10px #d4d9dd;
}

.add-container h1 {
	margin-bottom: 0;
}

.add-name-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0 10px 0;
}

.add-name-header h3 {
	margin-left: 15px;
	margin-top: 15px;
}

.add-name-header img {
	width: 50px;
	height: 50px;
}

#foods-log, #activities-log {
	margin: 9px 0 22px 0;
}

#foods-log hr, #activities-log hr {
	margin: 0;
}

#foods-log a, #activities-log a {
	margin-bottom: 3px;
}


#chosen-foods {
	margin: -15px 0 30px 0;
	display: flex;
	flex-direction: column;
}

#chosen-foods button {
	margin-top: 30px;
}

.chosen-food-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: -11px 0 4px 0;
}

.chosen-food-header button {
	margin-bottom: 10px;
}

.chosen-food-header h4 {
	margin-top: 34px;
}

#saved-foods button {
	margin-bottom: 24px;
}

.saved-food-item {
	margin-top: -6px;
	display: flex;
	align-items: center;
	width: 70%;
}

.saved-food-item h6 {
	margin-left: 10px;
}

button#save-meal-button {
	margin-top: 3px;
}

.chosen-food-item {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: #E8EBED;
	padding: 0 20px 15px 20px;
}

.chosen-food-item label {
	margin-bottom: 16px;
}

.chosen-food-item-name {
	max-width: 95%;
}

.search-submit-btn {
	width: 400px;
}

#food-search-form {
	margin-bottom: 0px;
}

#food-search-form input, #activity-search-form input {
	background: url(../../../images/search.svg) no-repeat scroll 7px 7px;
	padding-left: 40px;
	background-color: white;
	margin-top: 10px;
	width: calc(100% - 40px);
	font-weight: 500;
	margin-bottom: 0;
}

#food-results, .all-activities {
	width: 100%;
	margin-top: 10px;
	background-color: white;
	padding: 5px 15px 5px 15px;
	box-shadow: 0px 0px 20px rgba(134,137,139,.4);
	border-radius: 6px;
}

#food-results li, .all-activities li {
	width: 100%;
	margin: 10px 0;
	font-size: 13px;
	cursor: pointer;
	transition-property: color;
	transition-duration: 400ms;
}

.activity-result-item {
	transition-property: color;
	transition-duration: 400ms;
}

.all-activities li {
	padding-left: 15px;
}

#food-results hr, #all-activities-list hr {
	margin: 10px 0 13px 0;
}

#food-results li:hover, #all-activities li:hover, .activity-result-item:hover {
	cursor: pointer;
	color: #aaa;
}

.food-measure {
	width: 100%;
	background-color: #e9e9e9;
	padding: 11px 16px 2px 16px;
	margin-bottom: 8px;
	background-color: white;
}

.food-measure hr {
	margin-bottom: 0;
}

.food-measure label {
	text-transform: capitalize;
	color: black;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 0;
}

.adjust-measure {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
}

.adjust-measure .button {
	margin-bottom: 30px;
	padding: 10px 16px 12px 16px;
}

.measure-qty {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	margin-top: 19px;
	margin-right: 5%;
}

.measure-qty input {
	background-color: white;
	padding: 0 14px 2px 14px;
	margin-left: 10px;
	margin-top: 2px;
}

.measure-qty p {
	margin-bottom: 28px;
}

.adjust-measure p {
	width: 40%;
	margin-left: 0;
	padding-bottom: 6px;
}

.measure-qty label {
	margin-bottom: 22px;
}

.adjust-measure label {
	font-weight: 400;
	text-transform: none !important;
	text-align: left;
	line-height: 1.1;
}

.adjust-measure button {
	padding: 7px 9px;
	margin-left: 6px;
}

.servings:after {
	content: "Servings:"
}

.all-activities hr {
	margin: 20px 0 15px 0;
}

#all-activities-buttons {
	width: 100%;
	position: relative;
}

#all-activities-btn {
	margin-top: 10px;
	padding: 9px 10px 10px 10px;
	width: 100%;
}

#all-activities-buttons button.button-gray {
	position: absolute;
	right: 0;
	top: 10px;
	margin-left: 10px;
	z-index: 10;
	padding: 9px 20px 10px 20px;
}

.can-add-activity input {
	background-color: white;
	padding: 0 12px 2px 12px;
	margin-left: 10px;
	margin-top: 2px;
	width: 50px;
}

#activity-qty-container {
	position: relative;
	width: 100%;
}

.activity-qty {
	position: absolute;
	right: 0;
	bottom: 11px;
	display: flex;
	justify-content: flex-end;
}

.activity-qty input {
	margin-right: 10px;
} 

.activity-qty span {
	margin: 10px 10px 0 0;
}

.saved-item {
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.saved-item-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.saved-item-name span {
	width: 66%;
}

.saved-item-name .nav-button {
	padding: 3px 10px 6px 10px;
	margin-bottom: 3px;
}

.warning-message {
	flex: 1;
	padding: 10px 30px 12px 30px;
	margin: 0 0 10px 30px;
	border-radius: 6px;
	background-color: white;
	width: 55%;
	color: #384047;
	box-shadow: 0 0 40px rgba(0,0,0,.12);
	margin-top: 8px;
	position: relative;
}

#caret {
	position: absolute;
	top: 37%;
	left: -15px;
	width: 40px;
	height: 40px;
}


/*** USER SETTINGS STYLES ***/

.switch {
	margin-top: 0;
	margin-bottom: 25px;
	padding: 11px;
}

.card-panel {
	padding: 15px 30px 30px 30px;
	padding-right: 46px;
	border-radius: 6px;
	background-color: white;
	width: 65%;
	min-width: 320px;
	box-shadow: 0 4px 40px rgba(0,0,0,.12);
}

.gender-select {
	margin: -5px 0 0 0;
}

.gender-select label {
	margin-right: 12px;
}

.card-panel button {
	margin-top: 20px;
}

.card-panel-left {
	padding: 15px 30px 18px 30px;
	border-radius: 6px;
	background-color: #4D575F;
	color: white;
	width: 35%;
	box-shadow: 0 4px 40px rgba(0,0,0,.12);
	margin: 8px 20px 0 0;
}

.card-panel-left h1 {
	line-height: 1;
	margin: -8px 0 24px 0;
}

.card-panel-left p {
	font-size: 14px;
}

.card-panel-left li {
	font-weight: 300;
}

#set-goal {
	width: 100%;
	margin-top: 40px;
}

#set-goal input {
	width: 100px;
}

#set-goal button {
	margin-top: 10px;
}

#set-goal .input-field {
	margin-top: 40px;
}

#settings-panels {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

#settings-container {
	margin-bottom: 80px;
}

#settings-container label {
	font-size: 14px;
}

#settings-container h2 {
	line-height: .4;
	margin-top: 36px;
}

#settings-container input {
	border: none !important;
	border-radius: 6px;
	margin-top: 6px;
	padding-left: 10px;
	background-color: #E8EBED;
}



/*** MEDIA QUERIES ***/

@media screen and (max-width: 1070px) {

	#add-containers {
		justify-content: center;
	}

	.add-container {
		width: 380px;
		margin: 0 7.5px;
	}

	.adjust-measure button {
		font-size: 15px;
		padding: 8px;
	}
}

@media screen and (max-width: 860px) {

	h3 {
		font-size: 21px;
	}

	p {
		font-size: 16px;
	}

	#add-containers {
		display: block;
		width: calc(100%);
		margin-left: -8px;
	}

	.add-container {
		width: 100%;
		margin-bottom: 32px;
	}

}

@media screen and (max-width: 710px) {

	#hero-text-container {
		width: 100%;
	}

	#hero-phone {
		display: none;
	}

	.hero-bkg {
		background-image: url("../images/signup-bkg.jpg");
		background-size: cover;
		background-position: right center;
	}

	#features-phone {
		display: none;
	}

	#features-phone-horiz {
		display: block;
	}

	#features-container {
		flex-direction: column;
		padding: 22px 0 10px 0;
	}

	#features-copy {
		width: 100%;
		margin-top: 20px;
	}

	#benefits-container {
		flex-direction: column;
	}

	.card {
		width: 100%;
		margin-bottom: 28px;
	}

	#cta-container {
		padding: 30px 0 60px 0;
		background: #01CA6A;
	}

	footer .container {
		flex-direction: column;
	}

	footer hr {
		display: block;
	}

	.footer-credit {
		margin: 0 0 15px 0;
	}

	#profile-header {
		flex-direction: column;
	}

	.warning-message {
		margin-left: 0;
		width: 400px;
		max-width: 100%;
		margin: -21px 0 32px 0;
	}

	#caret {
		position: absolute;
		top: -15px;
		left: 45.4%;
	}

	#settings-panels {
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
	}

	.card-panel {
		width: 100%;
		margin-top: 25px;
	}

	.card-panel-left {
		width: 100%;
	}

}

@media screen and (max-width: 460px) {

	#cta-container .container {
		align-items: flex-start;
	}

	#cta-container .container h2 {
		text-align: left;
	}

	#cta-container .container p {
		text-align: left;
	}

	footer .container {
		align-items: flex-start;
	}

	.user-form {
		width: 90%;
	}

	#brand-logo-nav-desktop {
		display: none;
	}

	#brand-logo-nav-mobile {
		display: block;
	}

	#nav-links a, #nav-links button {
		margin-left: 22px;
	}

	.servings {
		content: "";
	}

	.servings:after {
		content: "Srv:";
	}

}