<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">M.E.A.N Coach</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="homeState()">Home </a></li>
      <li><a ui-sref="signupState()" ng-if="!isLoggedIn()">Signup</a></li>
      <li><a ui-sref="loginState()" ng-if="!isLoggedIn()">Login</a></li>
      <li><a ng-click="logout()" ng-if="isLoggedIn()">Logout</a></li>
      <li><a ui-sref="profileState()" ng-if="isLoggedIn()"> Profile</a></li>
      <li><a ui-sref="userSettings()" ng-if="isLoggedIn()">User Settings</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
