<div id="profile-container">
	<h1>This is profile container</h1>

	<span>
			{{profile.email}}, you haven't entered any information yet! Get started here:
		<button class="btn" ui-sref="userSettingsState({id:profile.id})">UserSettings</button>
	</span>

	<div id="current-cals">
		<h1 ng-model="currentCals">{{currentCals}}</h1>
		<h3>calories</h3>
	</div>

	<div ng-model="savedMeal" ng-show="savedMeal.length > 0">
		<h5>Saved meal ({{savedMealDate}}):</h5>
		<p ng-repeat="savedFood in savedMeal">{{savedFood.name}}</p>
	</div>

	<div id="add-log-items">
		<div class="add-container">
			<h1>Foods</h1>
			<hr/>

			<!-- Add a meal (chosen foods) section -->
			<div id="chosen-foods" ng-show="chosenFoods.length > 0">
				<h5>Add meal:</h5>
				<span class="chosen-food-item" ng-repeat="chosenFood in chosenFoods">
					<p class="chosen-food-item-name">{{chosenFood.name}}</p>
					<p><strong>kCals:</strong> {{chosenFood.kCals}}</p>
				</span>
				<button ng-click="saveFood()">SAVE FOODS</button>
			</div>

			<!-- Search for foods -->
			<form ng-submit="findFoods()" id="food-search-form">
				<input type="text" id="food-search" placeholder="Search for a food" ng-model="searchTerm" ng-keydown="delayBeforeSearch()">
			</form>

			<!-- Search results -->
			<ul id="food-results" ng-show="searchResults.length > 0">
				<li ng-repeat="result in searchResults" ng-click="addFood(event)" id={{result.ndbno}}>
					{{result.name}}
					<hr/>
				</li>
			</ul>

		</div>

		<div class="add-container">
			<h1>Activities</h1>
			<hr/>

		</div>
	</div>
