<div class="container">
    <h3 class="">ENTER USER SETTINGS HERE</h3>

    <h4>Fill out the following to get your estimated Base Metabolic Rate (BMR)</h4>
    <p>This is used to suggest a daily caloric intake value.</p>
    <!--TODO: maybe wrap this in an NG-if to show only when you have all the numbers needed-->
    <div ng-if="userSettingsComp.bmr" class="center-align">
        <h3>Your Basal Metobolic Rate</h3>
        <h3>{{userSettingsComp.bmr}}</h3>
        <p>The following are suggestions to maintain your weight for a daily calorie goal based on activity level</p>
        <ul>
            <li> Sedentary: {{userSettingsComp.bmr * 1.2}}</li>
            <li>Low Activity (2-3 times/week): {{userSettingsComp.bmr * 1.37}}</li>
            <li>Moderate Activity(4-5 times/week): {{userSettingsComp.bmr * 1.55}}</li>
            <li>High Activity (6-7 times/week): {{userSettingsComp.bmr * 1.72}}</li>
        </ul>
        <p>if you would like to lose 1 lb per week, you need to burn 500 more calories than you consume per day. </p>
    </div>

    <div class="switch">
        <label>
            Imperial
            <input type="checkbox" ng-model="userSettingsComp.isMetric">
            <span class="lever"></span>
            Metric
        </label>
      </div>
    <div class="row">
        <form class="card-panel">
            <div class="row">
                <div class="input-field col s12 m6 l4">
                    <input type="number" ng-model="userSettingsComp.weight" placeholder="100">
                    <label for="weight">Weight:</label>
                </div>
                <!--TODO: have selector to choose kg/lbs-->
                <div class="input-field col s12 m6 l4">
                    <input type="number" ng-model="userSettingsComp.height" placeholder="75">
                    <label for="height">Height: </label>
                </div>
                <!--TODO: have selector to choose cm/ft'in"-->
                <div class="input-field col s12 m6 l4">
                    <input type="number" ng-model="userSettingsComp.age">
                    <label for="age">Age:</label>
                </div>
                <div class="col s12 m6 l4 input-field">
                    <p>
                        <label for="gender">Gender:</label>
                        <input class="with-gap" type="radio" name="gender" ng-model="userSettingsComp.gender" id="Male" value="Male">
                        <label for="Male"> Male</label>
                        <input type="radio" class="with-gap" name="gender" ng-model="userSettingsComp.gender" id="Female" value="Female">
                        <label for="Female"> Female</label>
                    </p>
                </div>
            </div>
            <button class="btn" ng-click="userSettingsComp.calcBMR(userSettingsComp.weight, userSettingsComp.height, userSettingsComp.age, userSettingsComp.gender)">Calculate</button>
        </form>
        <div class="card-panel">
        <div class="input-field col s12 m6 l4">
            <input type="number" ng-model="userSettingsComp.goal" placeholder="Calories per day">
            <label for="goal">Goal: </label>
        </div>
        <!-- <p>Set your target calories per day</p> -->
        <button class="btn" ng-click="updateUser()">Set Target Calories</button>
    </div>
    </div>

</div>
